@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'minecraft';
  src: url('/fonts/minecraft/mojangles.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'minecraft';
}

@keyframes Scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.elemento {
  animation: Scale 1s  infinite;
}
